<div class="flex h-screen ">
  <div class="w-96 m-auto bg-slate-800 text-white font-sans ">
    <h3 class="text-2xl ml-8 pt-5 block text-2xl text-gray-900 text-white font-sans">Change Password</h3>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="mb-6">
    <label for="email" class="pt-5 ml-8 block mb-2 text-base text-gray-900 text-white" >Email </label>
    <input formControlName="email" type="email" class="ml-8 w-80 form-input px-4 py-3 rounded-md bg-gray-700"[ngClass]="{'is-invalid':submitted && f.email.errors}" placeholder="Enter your email">
    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
      <div *ngIf="f.email.errors.required" class="ml-9 text-red-400">Harap Isi Email!</div>
      <div *ngIf="f.email.errors.pattern" class="ml-9 text-red-400">Email tidak valid!</div>
  </div>
  </div>
  <div class="mb-6">
    <label for="password" class=" ml-8 block mb-2 text-base text-gray-900 text-white">New password </label>
    <input formControlName ="password" type="password" class=" ml-8 w-80 form-input px-4 py-3 rounded-md bg-gray-700" [ngClass]="{'is-invalid': submitted && f.password.errors}" placeholder="***">
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
    <div *ngIf="f.password.errors.pattern" class="ml-7 text-red-400">Password harus menggunakan 1 huruf kapital,1 huruf kecil, 
      1 angka</div>
     </div>
    </div>  
  <div class="mb-6">
    <label for="confirm_password" class=" ml-8 block mb-2 text-base text-gray-900 text-white">Confirm password </label>
    <input formControlName="confirm_password" type="password" class=" ml-8 w-80 form-input px-4 py-3 rounded-md bg-gray-700" [ngClass]="{'is-invalid' : submitted&&f.confirm_password.errors}" placeholder="****">
    <div *ngIf="submitted && f.confirm_password.errors" class="invalid-feedback">
      <div *ngIf="f.confirm_password.errors.required" class="ml-7 text-red-400">Harap Di isi</div>
      </div>
  </div>
  <div class="flex items-start mb-6">
    <div class="flex items-center h-5">
      <input type="checkbox" class="  ml-8 form-checkbox rounded text-white-500" />
    </div>
    <label for="remember" class="ml-2 font-medium text-gray-900 text-white">I accept <a href="#" class="text-blue-600"> Terms and Condition</a></label>
  </div>
  <div class="mb-6">
    <button type="submit" 
     class="ml-8 h-12 w-80 rounded-full bg-blue-600">Reset Password</button>
</div>
</form>
</div>
</div>


